@import './flexbox.less';
@guardianGreen : #6BA83F;
@guardianYellow : #FFEB00;
@guardianRed : #D23E55;


/* HEADER */
.interactive_header {
	background:@guardianGreen;
	color: #FFF;
	padding-top:10px;
	padding-bottom:40px;
	.interactive_header_content{
		max-width:1100px;
		margin:0 auto;
		padding:0 10px;
		position:relative;
	}
	.interactive_standfirst{
		margin-left:0;
	}
	.interactive_worldcuplogo{
		background-image: url(../images/worldcupLogo.png);
		width:80px;
		height:43px;
		background-size:80px;
		margin-bottom:20px;
	}

	h1 {
		font-family:EgyptianHeadline,EgyptianText,serif;
		font-weight:200;
		font-size:40px;
		line-height:1.2em;
		margin-bottom:20px;
	}

	.interactive_header_intro {
		font-size:22px;
		font-family:EgyptianHeadline,EgyptianText,serif;
		font-weight:200;
		line-height:1.2em;
	}
	ul{
		margin:0;
		padding:0;

		li{
			list-style: none;
			color:@guardianYellow;
			font-family:EgyptianHeadline,EgyptianText,serif;
			font-weight:200;
			font-size:22px;
			margin-bottom:8px;
			.listNumber{
				background:@guardianYellow;
				color:@guardianGreen;
				display:inline-block;
				width:34px;
				height:34px;
				border-radius:50%;
				margin-right:10px;
				text-align: center;
				box-sizing:border-box;
				padding-top:5px;
				font-size:18px;
				float:left;
			}
			.listText{
				display:block;
				margin-left:45px;
			}
		}
	}
}


.previousMatchView{
	background:@guardianYellow;
	width:100%;
	font-family:EgyptianHeadline;
	padding-bottom:40px;
	margin-bottom:20px;
	// margin-top:20px;
	h2{
		font-weight:200;
		font-size:32px;
		margin-bottom:20px;
		padding-top:4px;
	}
}
.wcp .history_block{
	overflow:hidden;
}
.wcp .history_container{
	padding-left:0;
	ul{
		padding-left:0;
	}
	
}
.history_match_highlight{
	width:100%;
	li.wcp-match-stat{
		width:100%;
	}
}
.wcp .history_list{
	li{
		width:30px;
		height:30px;
		border-radius:50%;
		border:2px solid transparent;
		background:#F6F6F6;
		box-shadow: 0 1px 1px rgba(0,0,0,0.1);
		margin:0 4px 0 0;
		position:relative;
		.starIcon{
			background-image: url(../images/starSprite.png);
			background-size:14px;
			position:absolute;
			top:6px;
			left:6px;
			height:14px;
			width:14px;
		}
		&.prediction-right-score{
			background:#FFBB00;
			.starIcon{
				background-position-y: 13px;
			}
		}
		&.prediction-right-winner{
			// border:2px solid #FFBB00;
			.starIcon{
				background-position-y: 26px;
			}
		}
		&.prediction-none{
			background:transparent;
			border:2px solid rgba(0,0,0,0.1);
			box-shadow: none;
			.starIcon{
				display:none;

			}
		}
		&:hover{
			border:2px solid rgba(0,0,0,0.2);
		}
	}
}
	.wcp-show-all-previous{
		background:#fff;
		padding:10px 20px 8px;
		font-family: "TextSans", "AgateSans",Helvetica, Arial;
		border:none;
		box-shadow: none;
		font-size:14px;
		font-weight:bold;
		display:block;
	}

	.previousMatchContent{
		max-width:1100px;
		margin:0 auto;
		position:relative;
		padding:0 10px;
		ul{
			margin:0;
		}
	}
	.wcp .wcp-match-stat{
		width:100%;
		background:#fff;
		padding:15px 0 10px;
		box-sizing:border-box;
		list-style: none;
		border-top:3px solid #333;
		display:inline-block;
		margin-bottom:20px;
		vertical-align: top;

		&.secondary-stat{
			display:none;
		}
	}
	.wcp-real-result{
		overflow:hidden;
		padding-bottom:15px;
	}
	.wcp-result-team-code{
		text-transform: uppercase;
		font-weight:200;
		margin:0;
	}
	.wcp-team-row{
		width:33%;
		min-height:1px;
		float:left;
		text-align:center;
		margin:0 auto;

	}
	.wcp-match-score{
		height:36px;
		width:27px;
		background:#333;
		border-radius:3px;
		display:inline-block;
		color:#fff;
		text-align:center;
		font-size:20px;
		font-weight:bold;
		padding-top: 4px;
		box-sizing: border-box;
		font-family:EgyptianHeadline, EgyptianText, serif;
	}
	.wcp-match-progress {
		font-style: italic;
		text-align: center;
		display: block;
	}
	.wcp-predict-result{
		overflow:hidden;
		border-top:1px solid #dfdfdf;
		padding-top:10px;
	}

	.wcp .wcp-predict-user{
		width:50%;
		text-align:center;
		float:left;

		h3.wcp-predict-no-score{
			background:#333;
			color:#fff;
			border-radius:2px;
			margin: 0 10px 0;
			padding:10px;
			line-height:1.2em;
			font-size:12px;
			font-weight:normal;
		}

		h3{
			font-size:14px;
			font-family:"TextSans", "AgateSans", Helvetica, Arial;
			font-weight:bold;
			line-height:1em;
		}
	}

	.wcp-predict-breakdown{
		border-top:1px solid #dfdfdf;
		margin-top:15px;
		text-aligen:center;
		padding: 10px 10px;
		position:relative;
		img{
			position:absolute;
			width:20px;
			height:15px;
		}
		.wcp-breakdown-flag-alpha{
			left:10px;
		}
		.wcp-breakdown-flag-beta{
			right:10px;
		}

		h3{
			font-size:14px;
			font-family:"TextSans", "AgateSans", Helvetica, Arial;
			font-weight:bold;
			line-height:1em;
			text-align: center;
		}
	}
	.wcp-breakdown-bar{
		margin:0 20px 0 21px;

		&.wcp-breakdown-alpha-win{
			.wcp-breakdown-alpha{
				background:@guardianGreen;
			}
		}
		&.wcp-breakdown-beta-win{
			.wcp-breakdown-beta{
				background:@guardianGreen;
			}
		}
		&.wcp-breakdown-draw-result{
			.wcp-breakdown-draw{
				background:@guardianGreen;
			}
		}
	}
	.wcp-breakdown-block{
		height:15px;
		background:#DCDCDC;
		float:left;
		box-sizing:border-box;
		border-right:1px solid #fff;
		position:relative;


		&:hover .wcp-tooltip{
			opacity:1;
		}
	}
	.wcp-tooltip{
		background:#333;
		color:#fff;
		position:absolute;
		font-size:12px;
		font-family:"TextSans", "AgateSans", Helvetica, Arial;
		padding:5px;
		border-radius:3px;
		bottom:25px;
		left:50%;
		-webkit-transform:translateX(-50%);
		-moz-transform:translateX(-50%);
		-ms-transform:translateX(-50%);
		-o-transform:translateX(-50%);
		transform:translateX(-50%);
		width:100px;
		text-align: center;
		opacity:0;
		-webkit-transition:opacity 0.5s;
		-moz-transition:opacity 0.5s;
		-o-transition:opacity 0.5s;
		transition:opacity 0.5s;
	}
	.wcp-winner-star{
		background-image:url(../images/star.png);
		width:11px;
		height:11px;
		background-size:11px;
		background-repeat: no-repeat;
		display: inline-block;
	}
	.wcp-score-percentage{
		font-size:12px;
		font-family:"TextSans", "AgateSans", Helvetica, Arial;
		color:#767676;
		line-height:1em;
		padding:5px 5px 0;
	}
	.wcp-match-flag{
		width:30px;
		height:20px;
		display:block;
		margin:0 auto;
	}
	.wcp-match-stat-tooltip{
		display:none;
	}
	@media(min-width:26.25em){
		.wcp .wcp-match-stat{
			width:73%;
		}
		.history_match_highlight{
			width:100%;
		}
	}
	@media(min-width:34em){
		.wcp .wcp-match-stat{
			width:47%;
			margin-right:2%;
		}
		.history_match_highlight{
			width:47%;
			margin-right:2%;
			float:left;
		}
	}
	@media(min-width:40em){
		.wcp .wcp-match-stat{
			width:31%;
			margin-right:1%;
		}
		.history_match_highlight{
			width:31%;
			margin-right:1%;
		}
	}
	@media(min-width:81.25em){
		.wcp .wcp-match-stat{
			width:23%;
			margin-right:1%;
		}
		.history_match_highlight{
			width:24%;
			margin-right:1%;
		}
	}





figure.interactive{
	margin:0 -10px;
}


@wcp-red: #D23E55;
.wcp{
	-webkit-font-smoothing: antialiased;
}

.wcp *{
	box-sizing: border-box;
}
.clearfix:after{
	clear:both;
	display: block;
	content: "";
}

.wcp{
	h1,h2,h3,h4,h5{
		font-family:EgyptianHeadline,EgyptianText,serif;
	}
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
 	    -webkit-appearance: none;
  		margin: 0;
	}
}

.wcp header {
	overflow:hidden;
	position:relative;
	h2{
		font-size:30px;
		line-height:1.1em;
		margin-top:30px;
	}
	h3{
		font-family:"TextSans", "AgateSans", Helvetica, Arial;
		color:#767676;
		font-size:16px;
		margin-top:5px;
		a{
			text-decoration:underline;
			color:@guardianGreen;
		}
	}
	h4{

	}
}
.wcp-coming-soon{
	margin-top:80px;
	h2{
		font-size:24px;
		text-align:center;
	}
	h3{
		font-size:22px;
		text-align:center;
	}
	.wcp-coming-soon-images{
		text-align:center;
		width:90%;
		margin:40px auto;
		img{
			display:inline-block;
			opacity:0.5;
			&.wcp-image-1{
			/*transform*/
			-webkit-transform:rotate(10deg);
			   -moz-transform:rotate(10deg);
			    -ms-transform:rotate(10deg);
			     -o-transform:rotate(10deg);
			        transform:rotate(10deg);
			}
			&.wcp-image-2{
			/*transform*/
			-webkit-transform:rotate(5deg);
			   -moz-transform:rotate(5deg);
			    -ms-transform:rotate(5deg);
			     -o-transform:rotate(5deg);
			        transform:rotate(5deg);
			}
			&.wcp-image-3{
			/*transform*/
			-webkit-transform:rotate(-10deg);
			   -moz-transform:rotate(-10deg);
			    -ms-transform:rotate(-10deg);
			     -o-transform:rotate(-10deg);
			        transform:rotate(-10deg);
			}
			&.wcp-image-4{
			/*transform*/
			-webkit-transform:rotate(-5deg);
			   -moz-transform:rotate(-5deg);
			    -ms-transform:rotate(-5deg);
			     -o-transform:rotate(-5deg);
			        transform:rotate(-5deg);
			}

		}
	}
}

.wcp-modal {
	display: none;
	background-color: white;
	border: 1px solid #aaa;
	min-height: 100px;
	padding: 25px;
}

.wcp-loading {
	text-align: center;
	display: block;
	width: 100%;
	margin: 2em 0;
}

.wcp-modal .wcp-modal-proceed {
	background: #005689;
	border: 0 none;
	color: #ffffff;
	display: inline-block;
	font-size: 1.4rem;
	padding: 1.1rem 0.8rem;
	margin-left: 0.5em;
	float: right;
}

.wcp-modal .wcp-modal-cancel {
	background: #aaaaaa;
	border: 0 none;
	color: #ffffff;
	display: inline-block;
	font-size: 1.4rem;
	padding: 1.1rem 0.8rem;
	float: right;
}

.wcp-modal p {
	color: #333;
}

.wcp-status{
	.flex-display;
	.flex-flow(row wrap);
	.justify-content(space-between);
	margin-top: 20px;

	h4{
		font-size: 18px;
		color: #005689;
		font-weight: bold;
		border-top: 1px dotted #CFCFCD;
		padding-top: 5px;
	}
}

.wcp-hive-status {
	margin: 1em 0;
}

.wcp-sharing {
	display: block;
	width: 100px;
	float: left;
	margin-bottom:20px;
}

.wcp-sharing a {
	display: inline-block;
}

.wcp-yesterday-results{
	width: 100%;
}

.wcp-your-score{
	width: 100%;
}

.wcp .warning {
	display: block;
	background-color: #c34655;
	color: white;
	padding: 10px;
	font-family: 'AgateSans', Helvetica, Arial;
	width: 400px;
}

.wcp ul {
	margin: 0;
	list-style-type: none;
	.flex-display;
	.flex-flow(row wrap);
	.justify-content(flex-start);
}

.wcp li {
	background-color: #fff;
	border: 1px solid #DFDFDF;
	border-top: 3px solid #dfdfdf;
	border-radius:0 0 3px 3px;
	padding: 15px 0 0;
	margin: 0 0 1em 0;
	width:48%;
	margin-right:2%;
	display:inline-block;
	-webkit-transition:0.5s border;
	-moz-transition:0.5s border;
	-o-transition:0.5s border;
	transition:0.5s border;

	&.prediction-complete{
		border-top: 3px solid #333;
		.wcp-day-check-divider{
			background-color:@guardianGreen;
		}
	}
}
.wcp .input-container{
	width:36px;
	height:46px;
	padding-top:3px;
	display:block;
	margin:0 auto 16px;
	-webkit-transition:0.8s background;
	-moz-transition:0.8s background;
	-o-transition:0.8s background;
	transition:0.8s background;
	&.result-win{
		background:#E7F1B6;
	}
	&.result-lost{
		background:#F6D8DD;
	}
	&.result-draw{
		background:#FDD0AE;
	}
}
.wcp input {
	font-family: 'EgyptianHeadline', EgyptianText, Georgia, serif;
	text-align: center;
	width:30px;
	height:40px;
	font-weight:900;
	color:#333;
	font-size:16px;
    -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2);
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.2);
	padding-top:3px;
	margin:0 auto;
	display:block;
	border:1px solid #bbb;
}

.wcp-divider {
	text-align: left;
	color: #333;
	padding: 0.3em 0 2em;
	border-top: 1px dotted #CFCFCD;
	font-weight: bold;
	font-size: 16px;
	font-family:EgyptianHeadline,EgyptianText,serif;
	position:relative;
	line-height:1.1em;
}

.wcp-day-check{
	position:absolute;
	top:5px;
	right:0;
	width:32px;
	height:32px;
	background-image:url(../images/checkArrow.png);

	-webkit-background-size:32px;
	   -moz-background-size:32px;
	     -o-background-size:32px;
	        background-size:32px;
	background-color:#dfdfdf;

	-webkit-transition:0.5s background;
	   -moz-transition:0.5s background;
	     -o-transition:0.5s background;
	        transition:0.5s background;
}

.wcp-day-check-divider{
	position:absolute;
	left: 50%;
	top: 5px;
	width:14px;
	height:14px;
	background-image:url(../images/checkArrow.png);

	-webkit-background-size:14px;
	   -moz-background-size:14px;
	     -o-background-size:14px;
	        background-size:14px;
	background-color:#fff;

	-webkit-transition:0.5s background;
	   -moz-transition:0.5s background;
	     -o-transition:0.5s background;
	        transition:0.5s background;


	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	transform:translateX(-50%);
}

.wcp-row {
	.flex-display;
	.flex-flow(row wrap);
	.justify-content(center);
	position: relative;
}
.day-complete.matchDay{
	.wcp-day-check{
		background-color:@guardianGreen;
	}
}
.matchDay{
	margin-bottom:40px;
	.deadlineMessage{
		color: @guardianRed;
		display:none;
	}

	.savedMessage{
		display:none;
		font-family:"AgateSans", Helvetica, Arial;
		font-size: 14px;
		font-weight:200;
		color:#888;
	}
	&.day-complete{
		.savedMessage{
			display:block;
		}
	}

	&.matchToday.day-complete{
		.deadlineMessage,.wcp-divider .deadlineMessage{
			display:none;
		}
	}
	&.matchToday{
		.deadlineMessage{
			color: @guardianRed;
			display:block;
		}
		.prediction-complete .deadlineMessage{
			display:none;
		}
		.wcp-divider p{
			font-family:"AgateSans", Helvetica, Arial;
			font-size: 14px;
			display:block;
			font-weight:200;
		}
	}
}
li.disabled {
	color: #aaa;
	border-top-color:@wcp-red;
		.wcp-points-container.wcp-match-result{
			p,div{
			color: @wcp-red;
			}
		}
}

li.disabled .wcp-alpha-score {
	color: #aaa;
}

li.disabled .wcp-beta-score {
	color: #aaa;
}

li.disabled .wcp-team-name {
	color: #aaa;
}

li.disabled .wcp-match-date {
	color: #aaa;
}

.wcp-row-left, .wcp-row-right{
	width: 50%;
	display:block;
	float:left;
}

.wcp-row-left{
	text-align: right;
	padding-right: 0;
}

.wcp-row-right{
	padding-left: 0;
}

.wcp-match-divider{
	position: absolute;
	left: 50%;
	top: 5px;
	height:8px;
	width:24px;
	border: 1px solid #DFDFDF;
	border-radius:4px;
	font-family: 'AgateSans', Helvetica, Arial;
	background:#F1F1F1;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	transform:translateX(-50%);
	&.result-alpha .wcp-divider-point{
		background-color: @guardianGreen;
		left:-1px;
	}
	&.result-beta .wcp-divider-point{
		background-color: @guardianGreen;
		left:16px;
	}
	&.result-draw .wcp-divider-point{
		background-color: @guardianGreen;
		left:8px;
	}
	.wcp-divider-point{
		width:8px;
		height:8px;
		border-radius:50%;
		background-color: #dfdfdf;
		left:8px;
		top:-1px;
		position: absolute;
		-webkit-transition:left 0.5s, background 0.5s;
		-moz-transition:left 0.5s, background 0.5s;
		 -o-transition:left 0.5s, background 0.5s;
		    transition:left 0.5s, background 0.5s;
	}
}

.wcp-real-score {
	display: block;
	width: 100%;
}

.wcp-team-name {
	display: none;
	font-family: 'EgyptianHeadline', EgyptianText, Georgia,serif;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 95%;
	margin:0 auto 10px;
	text-align: center;
	line-height:1em;
	font-size:16px;
	font-weight:200;
}

.wcp-team-code {
	display: block;
	font-family: 'EgyptianHeadline', EgyptianText, Georgia,serif;
	color: #333;
	text-transform: uppercase;
	margin:0 auto 10px;
	text-align:center;
	line-height:1em;
	font-size:16px;
	font-weight:200;
}

.wcp-team-flag {
	display: block;
	width: 30px;
	margin:0 auto 5px;
}

.wcp-row-left .wcp-team-flag{

}

.wcp-row-right .wcp-team-flag{

}

.wcp-align-right {
	text-align: right;
}
.wcp-match-meta{
	display: block;
	margin-top: 0;
	border-top: 1px solid #dfdfdf;
	font-family: 'TextSans', 'AgateSans', Helvetica, Arial;
	font-size: 12px;
	padding:8px 3px;
	line-height:1.3em;
	color:#767676;
	clear:both;
	strong{
		color:#333;
	}
}


.wcp-match-results{
	.flex-display;
	.flex-flow(row wrap);
	.justify-content(center);

	.wcp-match-result{
		width:33%;
		text-align:center;
		p{
			font-weight:700;
			color:#333;
			margin-bottom:0;
		}
		div{
			color:#333;
		}
	}
}

.wcp-match-datetime{
	text-align: center;
}

.wcp-match-date {
	display: block;
}



.wcp-match-time {
	display: inline-block;
}
.lastMatch{
	font-size:28px;
	font-weight:200;
	font-family:EgyptianHeadline, EgyptianText;
}

@media(min-width:30em){
	figure.interactive{
		margin:0 -20px;
	}
	.interactive_header .interactive_header_content{
		padding:0 20px;
	}

	.previousMatchView .previousMatchContent{
		padding:0 20px;
	}
	.wcp-team-name {
		display:block;
	}
	.wcp-team-code {
		display: none;
	}
}

@media(min-width:40em){
	.interactive_header .interactive_standfirst{
		margin-right:160px;
	}
	.matchDay{

		ul{
			li {
				width: 32%;
				margin-right: 1%;
			}
		}
	}
}

@media (min-width:56.25em){
	.wcp .history_container{
		padding-left:160px;
	}
	.wcp:after{
		clear: both;
		content: " ";
		display: table;
	}
	.wcp ul{
		padding-left:160px;
	}

	.wcp-yesterday-results{
		width: 28%;
	}

	.wcp-your-score{
		width: 70%;
	}

	.wcp-divider{
		width: 140px;
		text-align: left;
		padding-right: 45px;
		position:absolute;
	}
	.matchDay{
		width:100%;
		ul{
			width: 100%;
			padding-left:160px;
			.flex-display;
			.flex-flow(row wrap);
			.justify-content(flex-start);

			li {
				width: 32%;
				margin-right: 1%;
			}
		}
	}
	.interactive_header .interactive_standfirst{
		margin-right:320px;
	}
}


@media(min-width:66.25em){
	.wcp header {
		margin-left:160px;
		margin-right:320px;
	}
	.interactive_header .interactive_standfirst{
		margin-left:160px;
		margin-right:320px;
	}
	.interactive_header .interactive_worldcuplogo{
		position:absolute;
		top:0;
		margin-bottom:0;
	}
	.userSummary{
		padding-left:160px;
	}

}

@media(min-width:81.25em){
	.wcp header {
		margin-left:240px;
	}
	.userSummary{
		padding-left:240px;
	}
	.interactive_header .interactive_header_content{
		padding:0 20px;
		max-width:1260px;
	}

	.interactive_header .interactive_standfirst{
		margin-left:240px;
	}
	.previousMatchView .previousMatchContent{
		max-width:1260px;
	}
	.previousMatchView .previousMatchContent h2, .previousMatchView .previousMatchContent ul{
	}
	.wcp-divider{
		width: 220px;
	}
	.wcp ul{
		padding-left:240px;
		li{
			width:24%;
			margin-right:1%;
		}
	}
	.wcp .history_container{
	padding-left:240px;
	}
}

.summary td {
	font-family: monospace;
	font-size: 8px;
	border: 1px solid rgb(0, 0, 0);
	padding: 2px;
}

.userSummary {
	font-family:EgyptianHeadline;
	font-weight:200;
	line-height:60px;

	.scoreNum {
		font-size: 30px;
		display: inline;
		padding: 0 5px;
	}
}
