.wcp header {
	background-color: #EDEDED;
	padding: 20px;
	margin: 0 0 2em 0;
}

.wcp .warning {
	display: block;
	background-color: #c34655;
	color: white;
	font-family: 'AgateSans';
}

.wcp ul {
	margin: 0;
	list-style-type: none;
}

.wcp li {
	background-color: #f4f4ef;
	padding: 10px;
	margin: 0 0 1em 0;
}

.wcp input {
	width: 50px;
}